<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope
    xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
    <soapenv:Header>
        <soap:EventID
            xmlns:soap="http://www.4cgroup.co.za/soapauth">12001</soap:EventID>
        <soap:Token
            xmlns:soap="http://www.4cgroup.co.za/soapauth">{{ token }}</soap:Token>
    </soapenv:Header>
    <soapenv:Body>
        <gen:getGenericResult
            xmlns:gen="http://www.4cgroup.co.za/genericsoap">
            <Request>
                <dataItem>
                    <name>ServiceProviderName</name>
                    <type>String</type>
                    <value>{{ serviceprovidername|default("ONE4ALL") }}</value>
                </dataItem>
                <dataItem>
                    <name>CustomerMSISDN</name>
                    <type>String</type>
                    <value>{{ CustomerMSISDN }}</value>
                </dataItem>
                <dataItem>
                    <name>Currency</name>
                    <type>String</type>
                    <value>{{ currency|default("CDF") }}</value>
                </dataItem>
                <dataItem>
                    <name>Amount</name>
                    <type>String</type>
                    <value>{{ Amount }}</value>
                </dataItem>
                <dataItem>
                    <name>TransactionDateTime</name>
                    <type>Date</type>
                    <value>{{ Date }}</value>
                </dataItem>
                <dataItem>
                    <name>Shortcode</name>
                    <type>String</type>
                    <value>{{ shortcode|default("15058") }}</value>
                </dataItem>
                <dataItem>
                    <name>Language</name>
                    <type>String</type>
                    <value>{{ language|default("EN") }}</value>
                </dataItem>
                <dataItem>
                    <name>ThirdPartyReference</name>
                    <type>String</type>
                    <value>{{ thirdpartyref }}</value>
                </dataItem>
                <dataItem>
                    <name>CallBackChannel</name>
                    <type>String</type>
                    <value>{{ callback_channel|default("2") }}</value>
                </dataItem>
                <dataItem>
                    <name>CallBackDestination</name>
                    <type>String</type>
                    <value>{{ callback_url }}</value>
                </dataItem>
                <dataItem>
                    <name>CommandID</name>
                    <type>String</type>
                    <value>{{ command_id|default("InitTrans_one4allb2c") }}</value>
                </dataItem>
            </Request>
        </gen:getGenericResult>
    </soapenv:Body>
</soapenv:Envelope>

