<?xml version="1.0" encoding="utf-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap="http://www.4cgroup.co.za/soapauth" xmlns:gen="http://www.4cgroup.co.za/genericsoap">
  <soapenv:Header>
    <soap:EventID>1</soap:EventID>
  </soapenv:Header>
  <soapenv:Body>
    <gen:getGenericResult>
      <Request>
        <dataItem>
          <name>CustomerMSISDN</name>
          <value>243811231231</value>
          <type>String</type>
        </dataItem>
        <dataItem>
          <name>Currency</name>
          <value>USD</value>
          <type>String</type>
        </dataItem>
        <dataItem>
          <name>Amount</name>
          <value>200</value>
          <type>String</type>
        </dataItem>
        <dataItem>
          <name>TransactionDateTime</name>
          <value>20150716150000</value>
          <type>Date</type>
        </dataItem>
        <dataItem>
          <name>TransactionID</name>
          <value>BVA12369A</value>
          <type>String</type>
        </dataItem>
        <dataItem>
          <name>BankShortCode</name>
          <value>123456</value>
          <type>String</type>
        </dataItem>
        <dataItem>
          <name>CustomerAccountNumber</name>
          <value>1234567890</value>
          <type>String</type>
        </dataItem>
        <dataItem>
          <name>TransactionType</name>
          <value>BankC2B</value>
          <type>String</type>
        </dataItem>
        <dataItem>
          <name>ThirdPartyID</name>
          <value>lgskbtwhrr1pf4hnl62ng63k5u0dcjqe</value>
          <type>String</type>
        </dataItem>
      </Request>
    </gen:getGenericResult>
  </soapenv:Body>
</soapenv:Envelope>
